Header {
	font-family: cursive;
	text-align: center;
	color: red;
	background-color: yellow;
	padding: 1.2rem;
}

footer {
	border-top: solid thin black;
	padding: 1.2em;
	text-align: center;
}

h5 {
	margin: auto;
}

.carousel {
	background-color: beige;
	font-weight: bold;
	text-align: center;
	}

.advertise {
	color: blue;
}

.btn {
	padding-left: 1.2em;
	padding-right: 1.2em;
	background-color: #FFD0FF;
	margin: .75em;
}

.btn:hover {
	font-weight: bold;
}

nav {
	border-top: solid red;
	border-bottom: solid red;
	background-color: darkgray;
}

.active {
	color: red;
}